<div class="container-xl">
    <div class="row mb-5">
        <div class="col-12 col-md-5 col-lg-3 mb-5 md-md-0">
            <div class="card">
                <div class="card-header text-bg-dark">
                    <h5 class="card-title">Global infos:</h5>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <p class="card-text text-end">
                                Total balance: <strong><%= number_to_currency(@total_balance) %></strong>
                            </p>
                        </li>
                        <li class="list-group-item">
                            <p class="card-text text-end">
                                Total deposits: <%= number_to_currency(@total_deposits) %>
                            </p>
                            <p class="card-text text-end">
                                Total withdraws: <%= number_to_currency(@total_withdraws) %>
                            </p>
                            <p class="card-text text-end">
                                Total PnL: <strong><%= number_to_currency(@profits_and_losses) %></strong>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-header text-bg-dark">
                    <h5 class="card-title">Portfolio distribution:</h5>
                </div>
                <div class="card-body">
                    <%= pie_chart @portfolio_distribution, round: 2, zeros: true, suffix: "%", donut: true %>
                </div>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-hover align-middle text-center rounded-top overflow-hidden ">
            <thead>
                <tr class="table-dark">
                    <th scope="col">Token</th>
                    <th scope="col">Actual price</th>
                    <th scope="col">Average buy price</th>
                    <th scope="col">Average sell price</th>
                    <th scope="col">Balance</th>
                    <th scope="col">Balance in $</th>
                    <th scope="col">Potential profits</th>
                    <th scope="col">%</th>
                </tr>
            </thead>
            <tbody>
                <% @tokens_data.each do |data| %>
                    <tr>
                        <td><%= data[:symbol] %></td>
                        <td><%= number_to_currency(data[:current_price]) %></td>
                        <td><%= number_to_currency(data[:average_buy_price]) %></td>
                        <td><%= number_to_currency(data[:average_sell_price]) %></td>
                        <td><%= data[:balance].ceil(4) %></td>
                        <td><%= number_to_currency(data[:balance_in_dollars]) %></td>
                        <td><%= number_to_currency(data[:potential_profits]) %></td>
                        <td><%= number_to_percentage(data[:portfolio_percentage], precision: 2) %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>