<%= render 'shared/errors', object: @wallet %>

<%= form_with(model: wallet) do |form| %>
    <div class="row mb-3">
        <label class="col-2 col-form-label">
            <%= form.label :name, style: "display: block" %>
        </label>
        <div class="col-5">
            <%= form.text_field :name, class: "form-control", placeholder: "title" %>
        </div>
    </div>

    <div class="row mb-3">
        <div class="offset-2">
            <%= form.submit class: "btn btn-warning" %>
        </div>
    </div>
<% end %>
