<%= form_with(model: transaction) do |form| %>
  <% if transaction.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
        <% transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :datetime_of_transaction, style: "display: block" %>
    <%= form.datetime_field :datetime_of_transaction %>
  </div>

  <div>
    <%= form.label :operation, style: "display: block" %>
    <%= form.text_field :operation %>
  </div>

  <div>
    <%= form.label :symbol, style: "display: block" %>
    <%= form.text_field :symbol %>
  </div>

  <div>
    <%= form.label :amount, style: "display: block" %>
    <%= form.text_field :amount %>
  </div>

  <div>
    <%= form.label :price, style: "display: block" %>
    <%= form.text_field :price %>
  </div>

  <div>
    <%= form.label :net_value, style: "display: block" %>
    <%= form.text_field :net_value %>
  </div>

  <div>
    <%= form.label :fees, style: "display: block" %>
    <%= form.text_field :fees %>
  </div>

  <div>
    <%= form.label :total_value, style: "display: block" %>
    <%= form.text_field :total_value %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :wallet_id, style: "display: block" %>
    <%= form.text_field :wallet_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
