<div id="<%= dom_id transaction %>">
  <p>
    <strong>Datetime of transaction:</strong>
    <%= transaction.datetime_of_transaction %>
  </p>

  <p>
    <strong>Operation:</strong>
    <%= transaction.operation %>
  </p>

  <p>
    <strong>Symbol:</strong>
    <%= transaction.symbol %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= transaction.amount %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= transaction.price %>
  </p>

  <p>
    <strong>Net value:</strong>
    <%= transaction.net_value %>
  </p>

  <p>
    <strong>Fees:</strong>
    <%= transaction.fees %>
  </p>

  <p>
    <strong>Total value:</strong>
    <%= transaction.total_value %>
  </p>

  <p>
    <strong>User:</strong>
    <%= transaction.user_id %>
  </p>

  <p>
    <strong>Wallet:</strong>
    <%= transaction.wallet_id %>
  </p>

</div>
